.checkout {
  width: 80%;
  margin: 0 auto;
}

.checkout h2 {
  text-align: center;
}

.order-summary h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.order-summary ul {
  list-style-type: none;
  padding: 0;
}

.order-summary li {
  margin-bottom: 10px;
}

.order-summary .order-total {
  font-size: 1.2rem;
  font-weight: bold;
}

.checkout-form {
  display: flex;
  flex-direction: column;
}

.checkout-form input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.checkout-form button {
  padding: 10px;
  width: 150px;
  height: auto;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom:20px;
}

.checkout-form button:hover {
  background-color: #45a049;
}
