.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a4f35;
  height: 115px;
  padding: 0 20px 0px 0px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 8px 10px;
}

.nav-links a:hover {
  /* color: goldenrod; */
  text-decoration: underline;
}

/* ---------- MAIN DROPDOWN ---------- */
.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #276544;
  width: fit-content;
  min-width: max-content;
  white-space: nowrap;
  border-radius: 5px;
  list-style: none;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.25s ease;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.has-dropdown:hover .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown li {
  padding: 10px 20px;
}

.dropdown li:hover {
  background-color: #3a7a5b;
}

/* ---------- SUBMENU ---------- */
.submenu {
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #2f7b55;
  width: fit-content;      
  min-width: max-content;
  white-space: nowrap;
  border-radius: 5px;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateX(10px);
  transition: all 0.25s ease;
}

.has-submenu:hover .submenu {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.submenu li {
  padding: 10px 20px;
}

.submenu li:hover {
  background-color: #3b8a63;
}

/* Remove bullets */
.nav-links ul,
.dropdown,
.submenu {
  list-style: none;
  margin: 0;
  padding: 0;
}
