/* ---------------- Top Navigation ---------------- */
.top-nav {
  font-size: 16px;
  padding: 12px 0;
  width: 100%;
}

.top-nav .container {
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 0 32px;
  display: flex;
}

.top-nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  margin-left: auto; /* pushes links to the right */
}

.top-nav li a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.top-nav li a:hover {
  color: #000;
  text-decoration: underline;
}

/* ---------------- Main Navigation ---------------- */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1a4f35;
  font-family: Arial, sans-serif;
  position: relative;
  z-index: 100;
}

/* Main menu */
.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 28px;
}

.menu-item {
  position: relative;
}

.menu-title {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  margin-right: 20px;
}

.menu-title:hover {
  text-decoration: none;
}

.menu-title:hover {
  border-bottom: 2px solid #ffffff;
}

/* ---------------- Mega Menu ---------------- */
.mega-menu {
  position: fixed;
  top: 160px; /* Adjusted for top nav + main nav */
  left: 0;
  width: 100vw;
  background: #f8f8f8;
  padding: 20px 0px 150px 300px;
  display: flex;
  gap: 32px;
  border-top: 1px solid #ddd;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  z-index: 50;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;
}

.menu-item:hover .mega-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.mega-section {
  min-width: 180px;
}

.mega-section h4 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
}

.mega-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mega-section li {
  margin-bottom: 8px;
}

.mega-section li a {
  text-decoration: none;
  color: #555;
  font-size: 14px;
  transition: color 0.2s;
}

.mega-section li a:hover {
  color: #000;
  text-decoration: underline;
}
