/* MAIN CAROUSEL WRAPPER */
.carousel-container {
  position: relative;
  height: 600px; /* adjust */
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.6s ease-in-out;
  width: 100%;
}

.carousel-item {
  min-width: 100%;
  height: 600px; /* adjust */
  display: flex;
  justify-content: center;
  align-items: center;

}

.carousel-item img,
.carousel-item video {
  /* width: 100%;
  height: 100%; */
  object-fit: contain;
}

/* ARROWS */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.7);
  border: none;
  font-size: 30px;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
}

.arrow:hover {
  background: white;
}

.left {
  left: 15px;
}

.right {
  right: 15px;
}

/* DOTS */
.dots {
  text-align: center;
  margin-top: 10px;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background: #333;
}

