body {
  margin: 0;
  background-color: #f7f9fc;
  color: #333;
  font-family: Arial, sans-serif;
}

/* p {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 10px;
} */

html, body {
  overflow-x: hidden;
}