.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  transition: box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-image,.product-name {
  cursor: pointer;
}

.product-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.product-card h3 {
  font-size: 20px;
  margin: 5px 0;
}

.product-card .price {
  color: #df360c;
  margin: 5px 0;
}

.product-card .category {
  color: #666;
  font-size: 14px;
}

/* Action Buttons */
.card-actions {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
  flex-wrap: wrap;
}

.buy-now-btn,
.add-po-btn {
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.buy-now-btn {
  border: 1px solid #df360c;
  color: #fff;
}

.buy-now-btn:hover {
  background-color: #df360c;
  color:white
}

.add-po-btn {
  background-color: #000;
  color: #fff;
}

.add-po-btn:hover {
  background-color: #333;
}
